{#
/**
 * @file
 * Contains the text of the gamesapi explanation page
 */
#}

<div class='gamesapi-description'>
{% trans %}
    <p>The page contain information about games api credentials.</p>
    <p>list of users</p>
    <p>delete and update operationss</p>
{% endtrans %}
</div>
